<div class="input mx-auto">
  <form action="">
    <div class="input-group">
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
        placeholder="Input URL here">
      {{!-- <div class="mt-2" style="text-align:center; "> --}}
        <button class="btn btn-secondary ml-5 col-3 " type="submit">shorten</button>
        {{!--
      </div> --}}

    </div>

  </form>
  <div class="result mt-4">
    <p class="px-auto mb-0 text-primary">Success! Please use this link!</p>
    <div class="alert alert-info mt-2 d-flex align-item-center justify-content-between " role="alert">
      <span class="align-middle p-0  d-flex align-items-center">
        http://xxx.xx.xx
      </span>

      <button class="copy-btn btn btn-outline-info btn-sm ">copy</button>
    </div>

  </div>
</div>